<doctype html>
    <html>
        <head>
            <title><%- title %></title>
        </head>
        <body>
            <h1 style="text-align: center;"><%- title %></h1>
            <div style="text-align: center; font-size: x-large; color: red;">
                <span><%- recipe.id %></span>
                <a href="<%- recipe.url %>"><%- recipe.name %></a>
            </div>
        </body>
    </html>
</doctype>